






@media screen and (max-width: 1023px) {
    article {
        margin-top:10px;
        background-color: var(--yt);
        border-top: thin solid var(--gray--c)
    }

    article section#sobre {
        display: block;
        min-height: initial;
        max-height: initial;
        position: initial;
        margin: 0 auto
    }

    article section#cookies {
        max-width: 100vw;
        width: 100vw;
        max-height: 100vh;
        padding: 20px 0;
        top: 0;
        right: 0
    }

    article section#cookies>* {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px
    }

    article section#cookies>h1 {
        max-width: 100%;
        padding: 10px 20px 10px 50px;
        margin-bottom: 15px;
        line-height: 1.4;
        transition-duration: 150ms
    }

    article section#cookies>h1.sticky {
        position: sticky;
        top: -20px;
        background-color: var(--yt);
        box-shadow: 0 7px 8px var(--gray--d)
    }

    article section#cookies>ul li {
        margin-left: 15px
    }

    article section#sobre button.fechar-article,section#cookies button.fechar-article>span {
        display: none
    }

    article section#cookies button.fechar-article {
        top: 25px;
        right: initial;
        left: 0
    }

    article section#cookies button.fechar-article.with-h1-sticky {
        top: 6px
    }

    section#cookies button.fechar-article svg {
        display: initial
    }
}


@media screen and (max-width: 450px) {
    div.caixa-de-alerta {
        width:95%;
        top: calc(50vh - 132px / 2);
        left: calc(50vw - 95% / 2)
    }

    div.caixa-de-confirmacao {
        width: 95%;
        min-width: initial;
        left: calc(50vw - 95% / 2)
    }
}

@media screen and (max-height: 443px) {
    div.caixa-de-confirmacao {
        top:calc(50vh - 90vh / 2)
    }
}










