


.main {
    max-width: var(--layout-width);
    min-width: var(--layout-width);
    margin: 30px auto 10px;
    position: relative;
}

@media print {
    div.main {
        margin-top: 43px;
        visibility: visible
    }
}
 

.main__linha-de-emblema {
    display: flex;
    align-items: center
}

.main__linha-de-emblema {
    position: absolute;
    top: -30px;
    z-index: 4000;
}

.main__moldura-de-emblema {
    margin: 0;
    width: 65px;
    height: 65px
}

.main__emblema {
    height: 100%
}

.linha-de-emblema__col-de-republica {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
    padding-left: 6px;
}

.main__emblema-info {
    text-transform: uppercase
}

.ficha {
    display: grid;
    grid-template-columns: 24px 90px 238px repeat(19,50px)
}

.ficha__header {
    grid-column: 3/23;
    position: sticky;
    top: -36px;
    background-color: var(--yt);
}

@media print {
    .ficha__header {
        position: initial;
        top: 0;
    }
}

.ficha__titulo {
    margin: 0 0 0 236px;
    font-size: 22px;
    line-height: 1.5
}

.ficha__titulo__label {
    font-weight: 700;
    color: var(--text-color);
}

.ficha__titulo__sup {
    font-size: 15px;
}

.ficha__titulo__input-us {
    width: 367px;
    font-size: 18px;
    font-weight: initial;
    margin-bottom: 4px;
}

.ficha__linha-de-enumeracao-das-colunas,
.ficha__linha-de-sexo {
    display: grid;
    grid-template-columns: 238px repeat(19,50px);
    grid-template-rows: 24px;
    text-align: center;
}

.ficha__linha-de-enumeracao-das-colunas {
    grid-template-rows: 18px
}

.ficha__col-de-mes {
    text-align: left;
}

.ficha__campo-para-mes {
    width: 84%;
    font-weight: 700;
}

.ficha__num-de-col {
    background-color: var(--primary-color);
    color: var(--gray--d);
    border-color: var(--gray--a);
    font-weight: bold;
}

.ficha__linha-de-faixas-etarias {
    display: grid;
    grid-template-columns: 238px repeat(9,100px) 50px;
    grid-template-rows: 24px;
    text-align: center
}

.ficha__header__var-sexo-ou-idade {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ficha__borda-limite-header-body {
    grid-row: 2;
    grid-column: 1/23;
    width: 100%;
    height: 12px;
    background-color: var(--primary-color)
}

.ficha__col-de-enumeracao-das-linhas {
    grid-row: 3;
    display: grid;
    grid-template-rows: repeat(53,24px)
}

.ficha__num-de-linha {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--gray--d);
    border-color: var(--gray--a);
    font-weight: 700;
    font-size: 16px;
}

.ficha__num-de-linha--highlight {
    background-color: var(--orange);
    color: var(--yt)
}

.ficha__container-row-groups {
    grid-row: 3;
    display: grid;
    grid-template-rows: calc(24px*3) calc(24px*4) 1fr calc(24px*6) repeat(2,calc(24px*3))
}

.ficha__row-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ficha__row-group-title {
    text-align: center;
    font-weight: 700;
    letter-spacing: .5px;
    transform: rotate(270deg)
}

.ficha__col-de-indicadores {
    grid-row: 3;
    display: grid;
    grid-template-rows: repeat(38,24px) 48px 24px repeat(3,48px) repeat(6,24px);
}

.ficha__indicador {
    display: flex;
    align-items: center;
    padding: 0 4px
}

.ficha__grid-de-indicador {
    display: grid;
    grid-template-columns: 80px 1fr
}

.ficha__container-de-indicador {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ficha__container-de-subindicadores {
    display: grid;
    grid-template-rows: repeat(2,24px);
}

/* Celulas de entrada */
.ficha__col-de-inputs {
    display: grid;
    grid-row: 3;
    grid-template-columns: 50px;
}

.ficha__footer {
    grid-row: 4;
    grid-column: 1/9;
    display: flex;
    flex-direction: column;
    margin: 15px 0 10px
}


.ficha__linha-de-assinatura {
    min-height: 18px;
    margin-bottom: 15px
}

.ficha__campo-de-assinatura {
    width: 323px
}

@-moz-document url-prefix() {
    .ficha__campo-de-assinatura {
        width: 315px
    }
}

.ficha__linha-de-categoria-e-data {
    display: flex;
    justify-content: space-between;
    min-height: 22.38px
}

.ficha__campo-de-categoria {
    width: 276px
}


@media screen and (max-width: var(--layout-width)) {
    .--position-sticky-on-screen-s {
        position:-webkit-sticky;
        position: sticky;
        left: -15px;
        background-color: var(--yt)
    }
}
