:root {
    /* Cores */
    --primary-color: #444444;
    --border-color: #888888;
    --anchor-color: #1558bc;
    --text-color: #333333;
    --danger-color: #dd0000;
    --danger-color--alpha-8: rgba(238, 0, 0, .8);
    --yt: #ffffff;
    --fullblack: #000000;
    --black--alpha-5: rgba(0, 0, 0, .5);
    --black--alpha-8: rgba(0, 0, 0, .8);
    --btn-bgc: var(--primary-color);
    --btn-bgc--hover: var(--text-color);
    --footer-bgc: #dce4f4;
    --important-text-bgc: #f4f4f4;
    --gray: #888888;
    --gray--5: #555555;
    --gray--a: #aaaaaa;
    --gray--c: #cccccc;
    --gray--d: #dddddd;
    --gray--light: #f0f0f0;
    --blue: #0060EE;
    --purple: rgb(116, 116, 235);
    --orange: #faa032;
    --brown: brown;

    /* Tamanhos */
    --layout-width: 1304px;
    --input-font-size: 12px;
    --border-style: 1px solid var(--border-color);
}

@media print {
    :root {
        --border-color: var(--fullblack);
        --text-color: var(--fullblack);
        --gray--a: var(--yt);
        --gray--d: var(--yt)
    }
}

.body {
    color: var(--text-color);
    font-size: 12px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.body--overflow-hidden {
    overflow: hidden;
}

.body__block-primary {
    background-color: var(--yt);
}

.body__layout-row {
    max-width: var(--layout-width);
    margin: 0 auto
}

@media screen and (max-width: 1023px) {
    .header__row {
        flex-direction:column;
        align-items: flex-start;
        overflow: auto
    }

    .header__row::-webkit-scrollbar {
        height: 6px
    }

    .header__row::-webkit-scrollbar-thumb {
        background-color: var(--gray--a);
        border-radius: 50px
    }  
}

/* Header */
.header {
    line-height: 2;
    box-shadow: 0 0 10px var(--gray--d);
    z-index: 1;
}

.header__logo {
    font-size: 1rem;
    color: var(--fullblack);
    font-weight: 700;
}

@media screen and (max-width: 1023px) {
    .header__logo {
        line-height: 1.2;
        margin-top: 5px;
        position: sticky;
        left: 0
    }
}

@media screen and (max-width: 358px) {
    .header__logo-word--hidden {
        display: none;
    }
}

.header__item--cursor-type {
    cursor: pointer;
}

.header__child--flex {
    display: flex;
    align-items: center;
}

.header__menu {
    flex: 1;
    justify-content: flex-end;
    margin-right: -10px
}


@media screen and (max-width: 700px) {
    .header__menu {
        min-width:506px
    }
}

.header__menu-item {
    min-height: 44px;
    display: flex;
    align-items: center;
}

.header__menu-item:hover {
    background-color: var(--gray--light)
}

.header__menu-item:active {
    opacity: .7;
}

.header__item--hidden-on-pc {
    display: none;
}

@media screen and (max-width: 1023px) {
    .header__menu,
    .header__btn, 
    .header__blocklist {
         width: 100%;
    }

    .header__menu-item {
        flex: 1;
        text-align: center
    }

    .header__menu-item-realcartotais {
        justify-content: center
    }

    .header__item--hidden-on-mobile {
        display: none
    }

     .header__item--hidden-on-pc {
        display: initial
    }
}
 
.header__child-label {
    padding: 10px 10px 10px 0
}

.header__child-checkbox {
    width: 12px;
    height: 11px;
    margin: 1px 4px 3px
}

.header__btn {
    background-color: inherit;
    font-size: 12px;
    display: inline-block;
    padding: 12px
}

/* Main */
@media screen and (max-width:var(--layout-width)) {
    .main {
        max-width:100%;
        overflow: auto;
        padding: 0 15px
    }

    .body__layout-row {
        padding-left: 15px;
        padding-right: 15px
    }
}

/* Campo de Nota */
.ficha__container-de-campo-de-nota {
    margin-bottom: 20px;
    min-height: 79px
}

@media print {
    .ficha__campo-de-nota--no-print {
        display: none
    }
 }
 
@media screen and (max-width: var(--layout-width)) {
    .ficha__container-de-campo-de-nota{
        padding-left: 0;
        padding-right: 0
    }
}

@-moz-document url-prefix() {
    .ficha__container-de-campo-de-nota {
        min-height: 96px
    }
}

.ficha__campo-de-nota {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    min-width: 880px;
    padding: 5px;
    border: var(--border-style)
}

.ficha__campo-de-nota:focus {
    border: 2px solid var(--blue);
}

.ficha__campo-de-nota--fw-b {
    font-weight: 700;
    border-color: transparent
}

@media print {
    .ficha__campo-de-nota--no-print {
        padding: 0;
    }
 }
 
.footer {
    background-color: var(--footer-bgc);
    padding: 40px 0;
}

.footer__row {
    display: flex;
    align-items: flex-start;
}

.footer__nav {
    flex: 1;
    align-self: center;
    max-width: 22%;
}

.footer__nav-title {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 10px;
}

.footer__nav-link {
    display: block;
    padding: 4px 0;
    transition-duration: 150ms;
    line-height: 1.5;
}

.footer__nav-link:hover {
    text-indent: 20px;
    font-weight: 700;
    font-size: 12px
}

.footer__info {
    text-align: center;
    line-height: 1.5;
}

.footer__info-created-by {
    flex: 1;
    align-self: center;
}

.footer__info-available-since {
    border-top: 1px dotted var(--gray--a);
    padding: 15px 15px 0 15px;
    margin-top: 15px;
    color: var(--gray--5);
}

.footer__link-back-to-top {
    padding: 5px;
    color: var(--gray)
}

.footer__link-back-to-top:visited {
    color: var(--gray)
}

@media screen and (max-width: 1023px) {
    .footer {
        padding: 20px 0
    }

    .footer__row {
        flex-direction: column
    }

    .footer__nav {
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px dotted var(--gray--a)
    }

    .footer__link-back-to-top {
        margin: 20px 0 0 -5px
    }
 }
 
@media print {
    @page {
        margin: .5cm;
        size: letter landscape
    }

    @page :first {
        margin-bottom: .5cm
    }

}

/* Classes Reutilizaveis */
.body__child--flex-xy-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body__child--flex-y-center {
    display: flex;
    align-items: center;
}

.--border {
    border: var(--border-style);
}

.--border-t {
    border-top: var(--border-style);
}

.--border-r {
    border-right: var(--border-style);
}

.--border-b {
    border-bottom: var(--border-style);
}

.--border-l {
    border-left: var(--border-style);
}

.--fw-700 {
    font-weight: bold;
}

.--margin-left-negative {
    margin-left: -1px;
}


/* Manipulacao com JS */
.main__cell--highlight {
    background-color: gray;
}

.main__cell--alert-bgc {
    background-color: var(--danger-color)!important;
    color: var(--yt)
}

